@use './partials/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

/* Nascondi la barra di scorrimento */
::-webkit-scrollbar {
    display: none;
}

/* Imposta la larghezza della barra di scorrimento */
::-webkit-scrollbar {
    width: 10px;
}

/* Imposta il colore della barra di scorrimento e del track */
::-webkit-scrollbar {
    background-color: #f1f1f1; /* Colore del track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Colore della barra di scorrimento */
    border-radius: 5px; /* Bordo arrotondato */
}

